<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ping</title>

    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/node-ping-vps.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/node-ping-vps.js"></script>
</head>

<body class="cus-min-width" ng-app="app" ng-controller="appCtrl">
    <div class="container">

        <header>
            <div class="row">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <h4 class="cus-thin cus-grey">
                        Node Ping VPS
                        <span class="right" style="font-size: 50%; cursor: pointer; display: inline-block;" ng-hide="!isSelectFile || isDisable">
                            <span ng-click="switchToSelectFilePage()">
                                <i class="material-icons circle grey lighten-3 light-blue-text text-lighten-3 waves-effect" style="padding: 5px 6px 5px 5px; font-size: 50%;">keyboard_backspace</i>
                            </span>
                        </span>
                    </h4>
                </div>
            </div>
        </header>

        <main ng-hide="isSelectFile">
            <div class="row">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <div class="card-panel grey lighten-5 z-depth-1 hoverable waves-effect" style="display: block; cursor: pointer;" ng-repeat="(key, item) in fileList" ng-click="selectFile(item)">
                        <div class="row cus-mb-0 valign-wrapper">
                            <div class="col s12">
                                <i class="material-icons cus-grey" style="font-size: 80%;">subdirectory_arrow_right</i> &nbsp;
                                <span class="cus-grey">{{item}}</span>

                                <span class="right">
                                    <i class="material-icons light-blue-text text-lighten-3 circle grey lighten-3 waves-effect" style="vertical-align: inherit; font-size:130%; padding: 2px;">create</i>&nbsp;&nbsp;
                                    <i class="material-icons red-text text-lighten-3 circle grey lighten-3 waves-effect" style="vertical-align: inherit; font-size:130%; padding: 2px;">delete</i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <main ng-hide="!isSelectFile">
            <div class="row cus-mb-0">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    &nbsp;
                    <span class="cus-grey-light">
                        {{serverList.length}} / {{serverRawList.length}}
                        <i class="material-icons waves-effect circle" ng-hide="isDisable" style="font-size:90%; padding: 2px; margin-left: 5px;" ng-click="refresh()">autorenew</i>
                    </span>
                    <form class="right">
                        <span class="cus-grey-light">Sort by: </span>
                        &nbsp;&nbsp;&nbsp;                        
                        <input class="with-gap" ng-model="orderBy" name="sortby" ng-value="'time_avg'" type="radio" id="speed">
                        <label for="speed">speed</label>
                        &nbsp;&nbsp;&nbsp;
                        <input class="with-gap" ng-model="orderBy" name="sortby" ng-value="'host'" type="radio" id="host">
                        <label for="host">host</label>
                    </form>
                </div>
            </div>
            <div class="row cus-mb-0" ng-hide="serverList.length == serverRawList.length">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <div class="progress">
                        <div class="determinate" style="width: {{(serverList.length / serverRawList.length) * 100}}%"></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="serverList.length == 0">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <div class="collection">
                        <a ng-click="serverDetail(item.ip)" class="collection-item waves-effect" ng-repeat="(key,item) in serverList | orderBy:orderBy">
                            {{item.host}}
                            <span class="new badge {{item.color}}" data-badge-caption="">
                                Speed : {{item.alive ? item.time_avg + ' ms' : 'timeout' }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col l7 m4"></div>                
            </div>
        </main>

    </div>
</body>
</html>