<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ping</title>

    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/node-ping-vps.css">

    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script type="text/javascript" src="js/node-ping-vps.js"></script>
</head>

<body class="cus-min-width" ng-app="app" ng-controller="appCtrl">
    <div class="container">

        <header>
            <div class="row">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <h4 class="cus-thin cus-grey">Node Ping VPS</h4>
                </div>
            </div>
        </header>

        <main>
            <div class="row cus-mb-0">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    &nbsp;
                    <span class="cus-grey-light">22 / 22</span>
                    <form class="right">
                        <span class="cus-grey-light">Sort by: </span>
                        &nbsp;&nbsp;&nbsp;                        
                        <input class="with-gap" ng-model="orderBy" name="sortby" ng-value="'time_avg'" type="radio" id="speed">
                        <label for="speed">speed</label>
                        &nbsp;&nbsp;&nbsp;
                        <input class="with-gap" ng-model="orderBy" name="sortby" ng-value="'host'" type="radio" id="host">
                        <label for="host">host</label>
                    </form>
                </div>
            </div>
            <div class="row cus-mb-0" ng-hide="serverList">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <div class="progress"><div class="indeterminate"></div></div>
                </div>
            </div>
            <div class="row" ng-hide="!serverList">
                <div class="col l5 m8 s12 offset-l3 offset-m2">
                    <div class="collection">
                        <a ng-click="serverDetail(item.ip)" class="collection-item waves-effect" ng-repeat="(key,item) in serverList | orderBy:orderBy">
                            {{item.host}}
                            <span class="new badge {{item.color}}" data-badge-caption="">
                                Speed : {{item.alive ? item.time_avg + ' ms' : 'timeout' }}
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col l7 m4"></div>                
            </div>
        </main>

    </div>
</body>
</html>