.debug { border: 1px dotted red; }

.cus-lighter { font-weight: 100; }
.cus-light { font-weight: 200; }
.cus-thin { font-weight: 300; }

.cus-grey { color: #616161; }
.cus-grey-light { color: #9e9e9e; }

.cus-min-width { min-width: 450px; }

.cus-mb-0 { margin-bottom: 0px; }